
$ArtboardSurface: #FFFFFF;
$ArtboardSurfaceVariant: #FAFAFA;
$ArtboardSurfaceEmphasis: #EDF0F2;
$ArtboardBorder: #FFFFFF;
$ArtboardPeriwinkle: #7053FF;
$ArtboardBlack: #161718;

$TextPrimary: #293237;
$TextSecondary: #708089;
$TextPeriwinkle: #7053FF;
$TextWhite: #FFFFFF;

