$ArtboardSurface: #ffffff;
$ArtboardSurfaceVariant: #fafafa;
$ArtboardSurfaceEmphasis: #edf0f2;
$ArtboardBorder: #e8ebee;
$ArtboardPeriwinkle: #7053ff;
$ArtboardBlack: #161718;
$artboardBanner: #708089;
$artboardLightGreen: #edf8f1;

$TextPrimary: #374151;
$TextSecondary: #6b7280;
$TextPeriwinkle: #7053ff;
$TextWhite: #ffffff;
$TextGreen: #55bc7e;
