* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.btn-h {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.badge {
  border-radius: 32px;
  border: 1px solid $ArtboardBorder;
  padding: 4px 12px;
  width: fit-content;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
  letter-spacing: 0.22px;
  color: $TextPrimary;
}

.txt-primary {
  color: $TextPrimary;
}
